<div>

    <input type="search"
           style="border-radius: 12px;margin-left: 12px;width: 250px;"
           value="{{ search_term }}"
           name="search"
           placeholder=" Search available dish category..."
           hx-get="{% url 'core_app:manage_menu_list_dish_cat' %}"
           hx-trigger="keyup changed delay:500ms, search"
           hx-target="#search-results"
           hx-indicator=".htmx-indicator">


    <div id="search-results">

{#            {% include 'components/newtestingpage.html' %}#}
        <br>

        <table class="table table-success table-striped">

          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Details</th>
              <th scope="col">Cuisine</th>
            </tr>
          </thead>

          <tbody>
          {% if dish_cat %}
            {% for item in dish_cat %}
                <tr>
                  <td>{{ item.title }}</td>
                  <td>{{ item.details }}</td>
                  <td>{{ item.cuisine }}</td>
                </tr>
            {% endfor %}
          {% endif %}
          </tbody>

        </table>

    </div>


{#    {% if cuisine.has_next %}#}
{#        <a href="{% url 'core_app:manage_menu_list' %}?search={{ search_term }}">#}
{#    {% endif %}#}



{#    <div class="pagination">#}
{#        <span class="step-links">#}
{#            {% if page_obj.has_previous %}#}
{#                <a href="?page=1">&laquo; first</a>#}
{#                <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#            {% endif %}#}
{##}
{#            <span class="current">#}
{#                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#            </span>#}
{##}
{#            {% if page_obj.has_next %}#}
{#                <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}

</div>


